<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org/" lang="en" ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-controller="TitleCtrl as title" ng-bind="title.content">Loading . . .</title>

    <!-- CSS (from CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/latest/lumen/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//npmcdn.com/angular-toastr/dist/angular-toastr.css" />

    <link rel="stylesheet" href="/Scripts/tubular/tubular-bundle.css" />
    <link rel="stylesheet" href="/ui/styles/common.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- JS (from CDN) -->
    <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap,angularjs@1.5.0(angular.min.js+angular-route.min.js),toastr,blob.js(Blob.js),filesaver.js,chart.js@1.0.1,highcharts"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.1.5/angular-local-storage.min.js"></script>
    <script src="//npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>


    <!-- Angular Application files -->
    <script src="/Scripts/tubular/tubular-bundle.js"></script>
    <script src="/Scripts/app/app.js"></script>
</head>

<body ng-cloak>
    <div class="container">
        <div class="row" ng-controller="TitleCtrl as title">
            <div class="col-md-8">
                <div class="pull-left hidden-sm hidden-xs" style="display: table-cell; vertical-align: middle;">
                    <img src="/ui/media/tubular.png" alt="logo" />
                </div>
                <div class="pull-left" style="display: table-cell; padding-left: 16px;"
                     ng-hide="title.key == 'Login' || title.key =='Loading . . .'">
                    <h2>
                        {{title.pageTitle}} <br /><small ng-show="subheader">{{subheader}}</small>
                    </h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pull-right hidden-print" style="display: table-cell; margin-top: 20px; margin-left: 4px;"
                     ng-hide="title.key == 'Login' || title.key =='Loading . . .'">
                    <div class="row text-right" style="margin-right: 8px; margin-bottom: 4px;">
                        <a ng-click="printDoc()" ng-show="validPrint" style="cursor: pointer;">
                            <span class="fa fa-print"></span>&nbsp;Print
                        </a>
                        <span ng-show="validPrint">&nbsp; | &nbsp;</span>
                        <a href="/Notifications">Notifications</a>
                        <span class="badge hidden-xs" onclick="document.location = '/Notifications'" style="cursor: pointer;">
                            <i class="fa fa-bell"></i>&nbsp;{{notifications.Total}}
                        </span>
                        &nbsp; | &nbsp;
                        <div class="btn-group">
                            <a href="javascript:void(0)"
                               data-toggle="dropdown" aria-expanded="false">
                                Admin&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/">Admin 1</a></li>
                                <li><a href="/">Admin 2</a></li>
                                <li><a href="/">Admin 3</a></li>
                                <li><a href="/">Admin 4</a></li>
                            </ul>
                        </div>
                        &nbsp; | &nbsp;
                        <a href="javascript:void(0)" ng-click="logout()">Log out</a>
                        <br />
                    </div>
                    <div class="row">
                        <div class="input-group hidden-sm hidden-xs col-xs-6 pull-right" style="margin-right: 10px">
                            <span class="input-group-addon input-sm">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="search" class="form-control input-sm" placeholder="search . . ."
                                   maxlength="20" ng-model="search"
                                   ng-model-options="{ debounce: 1500 }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-blue hidden-print">
                <a href="#menu-toggle" id="menu-toggle" ng-init="toggleClass = false" ng-click="toggleClass = !toggleClass">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div id="wrapper"  ng-class="{'toggled': toggleClass}">
                <div id="sidebar-wrapper" ng-controller="NavCtrl" ng-show="showMenu" class="hidden-print">
                    <br />
                    <nav role="navigation" class="navbar navbar-default navbar-bigfont" style="border-width: 0">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="item in menu" ng-class="{active: hightlight == item.title}">
                                <a href="{{item.path}}">
                                    <span class="fa {{item.icon}}"></span>&nbsp;
                                    {{item.title}}
                                </a>
                            </li>
                        </ul>
                        <br />

                        <div class="hidden-xs hidden-sm text-center">
                            <hr />
                            <br />
                            <small>
                                Powered by
                                <a href="https://github.com/unosquare/tubular" target="_blank">Tubular</a>
                                <br />
                                Unosquare &copy; 2016
                            </small>
                        </div>
                    </nav>
                </div>

                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <ng-view></ng-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
</body>
</html>
